<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Kalkulus</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        body {
            font-family: 'Comic Sans MS', cursive, sans-serif;
        }
    </style>
</head>
<body>
    <header class="bg-green-500 text-white">
        <nav class="container mx-auto">
            <div class="flex items-center justify-between py-4">
                <div class="text-2xl font-bold flex items-center">
                    <a href="#" class="text-white">Kalkulus</a>
                    <span class="text-2xl ml-2 text-whitek">+</span>
                </div>
                <div class="space-x-4">
                    <ul class="flex space-x-4">
                        <li><a href="{{ url_for('home') }}" class="hover:text-gray-300">Home</a></li>
                        <li class="mr-4"><a href="{{ url_for('calculate') }}" class="hover:text-gray-300">Calculate</a></li>
                        <li><a href="{{ url_for('profile') }}" class="hover:text-gray-300">Profile</a></li>
                        <li><a href="{{ url_for('materi') }}" class="hover:text-gray-300 text-white">Materi</a></li>
                    </ul>                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto mt-8">
        <section id="home" class="flex items-center">
            <div class="w-1/2">
                <img src="https://img.freepik.com/free-vector/mathematics-concept-illustration_114360-6490.jpg?size=626&ext=jpg&ga=GA1.1.1162944496.1690816047&semt=sph" alt="Gambar" class="rounded-lg shadow-lg">
            </div>
            <div class="w-1/2 pl-8">
                <p class="text-xl text-gray-600">Selamat Datang!</p>
                <h2 class="text-3xl font-bold text-black mt-2">Hitung Turunan Fungsi Aljabar Anda</h2>
                <p class="text-gray-700 mt-4">Menggunakan website kami, anda dapat menghitung turunan fungsi aljabar anda dengan cepat dan tepat!</p>
                <div class="mt-4">
                    <div class="bg-white h-2 w-16 rounded-full"></div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
