* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #B6FFFA;
    display: flex;
}

.menu {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-right: 60px;
    padding-left: 60px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
    margin-right: 20px; 
}

.menu ul li:last-child {
    margin-right: 0; 
}

nav ul li {
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px  0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 500px;
    height: 500px;
    border: 2px solid #0000;
}
img {
    width: 500px;
    height: 500px;
}

section {
    margin: auto;
    margin-bottom: 50px;
}
